html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blog-container>p{
    line-height: 2rem;
}
.blog-container a{
  color: #4aac00;;
  font-size: large;
}
.blog-container>h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid #EDF2F7;
}